/* [itemtype="http://schema.org/CreativeWork"] */

@import "./base";
@import "./source-code";

:root {
  --article-paragraph: {
    position: relative;

    > [data-prop-row=headline] {
      font-size: var(--sizeML);
    }

    > [data-prop-row=description] {
      @apply --padding-base;
      @apply --margin-base;
    }

    > [data-prop-row=text] {
      @apply --padding-base;
      @apply --margin-base;
    }

    > [data-prop-row=exampleOfWork] {
      > [itemprop] {
        @apply --source-code;
      }
    }

    > [data-prop-row=sameAs] {
      @apply --padding-base;
      @apply --margin-base;
    }

    > [data-prop-row=url] {
      position: absolute;
      top: 0;
      left: 1px;

      > [itemprop] {
        display: block;
        width: 12px;
        height: 28px;
        overflow: hidden;
        visibility: hidden;
        position: relative;
        margin: 0;
        padding: 0;
        opacity: 0.5;

        &::after {
          content: '\a7';
          display: block;
          margin: 0;
          padding: 0;
          visibility: visible;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 1rem;
        }
      }
    }
  }
}
