/* [itemtype="http://schema.org/SoftwareSourceCode"] */

@import "./base";

:root {
  --source-code: {
    > [data-prop-row=headline] {
      @apply --margin-small;

      font-size: 1rem;
      font-weight: bold;
    }

    > [data-prop-row=description] {
      @apply --padding-base;
      @apply --margin-small;
    }

    > [data-prop-row=programmingLanguage] {
      @apply --padding-base;

      font-variant: small-caps;
      opacity: 0.7;
    }

    > [data-prop-row=text] {
      @apply --padding-base;

      > [itemprop] {
        padding: 5px;
        background-color: #eff0f1;
        white-space: pre-wrap;
        word-break: break-word;
        color: #393318;
        font-size: var(--sizeMS);
      }
    }

    > [data-prop-row=sameAs] {
      @apply --padding-base;
    }
  }
}
